version: "3.8"
services:
    server:
        build:
            context: src/server
            dockerfile: server.Dockerfile
        container_name: server
        depends_on:
            - postgres_2
        volumes:
            - ./:/server
        ports:
            - ${ALADIN_PORT}:${ALADIN_PORT}

    reverse-proxy:
        build:
            context: services/nginx
            dockerfile: nginx.Dockerfile
        depends_on:
            - server
        container_name: reverse-proxy
        volumes:
            - ./services/nginx/nginx.conf:/etc/nginx/nginx.conf
        ports:
            - ${REVERSE_PROXY_PORT}:${REVERSE_PROXY_PORT}
            - ${ALADIN_PORT}:${ALADIN_PORT}
            - 3000:3000

    postgres_2:
        build:
            context: services/postgres
            dockerfile: postgres.Dockerfile
        container_name: postgres_2
        user: 999:999 
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PW}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - ${POSTGRES_PORT}:${POSTGRES_PORT}
        volumes:
            - postgres-data:/var/lib/postgresql/data

    mongodb:
        build:
            context: services/mongodb
            dockerfile: mongodb.Dockerfile
        container_name: mongodb
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PW}
            MONGO_INITDB_DATABASE: ${MONGO_DB}
        ports:
            - ${MONGO_PORT}:${MONGO_PORT}
        volumes:
            - "mongodb_data:/bitnami/mongodb"
        restart: unless-stopped

    # maxima:
    #     build:
    #         context: services/maxima
    #         dockerfile: maxima.Dockerfile
    #     container_name: maxima
    #     volumes:
    #         - ./services/maxima/:/worker/

volumes:
    mongodb_data:
    postgres-data:
